*.pyc
*~
*.so
*.pyd
.pytest_cache/
build/
dist/
.*.swp
.coverage
.cache
.ipynb_checkpoints
*.egg-info
MANIFEST
.coverage.*
examples/_figures
doc/_build
doc/api/generated
doc/gallery
doc/tutorials
doc/sample_data
